{{extend 'layout2.html'}}


<div class="p-3 mb-2 bg-primary bg-opacity-15">
    <div class="container text-center border border-4 rounded">
        <div class="row align-items-start">
           <div class="col-6 col-sm-4">
            <div class="card" style="width: 18rem;">
              <img src="../static/images/MEAA_LOGO.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Dashboard</h5>
                <p class="card-text">Welcome to the Customer Relationship Management System.</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">There are {{=rows}} contacts in our database.</li>
                <li class="list-group-item">There are {{=active_leads}} active leads in our database.</li>
                <li class="list-group-item">There are {{=inactive_leads}} inactive leads in our database.</li>
              </ul>
              <div class="card-body">
                <a href="#" class="card-link">Stats(need matplotlib)</a>
                <a href="#" class="card-link">Companies?</a>
              </div>
            </div>
           <div class="col-6 col-sm-4">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Visits to home page:</h5>
                <p class="card-text">{{if not session.counter:}}{{session.counter=1}}
                 {{else:}}{{session.counter=session.counter+1}}{{=session.counter}}{{pass}}</p>
              </div>
            </div>
           </div>
          </div>
        </div>
    </div>
</div>



<!--
    Number of contacts:
    {{=rows}}
    </br>


    Number of Active leads:
    {{=active_leads}}
    <br/>
    Number of Inactive leads:
    {{=inactive_leads}}



    Number of states: {{=states}}
    </br>

    Number of companies: {{=companies}}
    </br>

    Number of times you've visited the home page:

    {{if not session.counter:}}{{session.counter=1}}
    {{else:}}{{session.counter=session.counter+1}}{{=session.counter}}{{pass}}
-->
