{{extend 'layout2.html'}}

<div class="opacity-75">
    <div class="card text-bg-light">
      <img src="../static/images/analytics_background2.jpeg" class="card-img" alt="...">
      <div class="card-img-overlay">
        <h5 class="card-title">We're sorry, but you'll need to sign up for a premium account to get the analytics dashboard.</h5>
        <p class="card-text font-monospace">Visit www.getanalytics.com for more info.</p>
        <p class="card-text"><small>Last updated 3 mins ago</small></p>
      </div>
    </div>
</div>
